@import 'tailwindcss';

@import './components/tom-select.css';
@import './components/datepicker.css';
@import './components/alert.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.flow-btn {
    @apply px-4 py-2 text-sm font-semibold transition bg-white text-gray-700 dark:bg-gray-200 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-200;
}

.flow-btn.active {
    @apply bg-emerald-500 text-white dark:bg-emerald-600;
}

.custom-quill-wrapper .ql-toolbar.ql-snow {
    border: none !important;
}
.custom-quill-wrapper .ql-container.ql-snow {
    border: none !important;
    color: #1f2937 !important;
    height: 12rem !important;
}

.custom-quill-wrapper .ql-toolbar.ql-snow {
    border-bottom: 1px solid #e5e7eb !important; /* border-gray-200 */
}

/* Quill dark mode overrides */
.dark .custom-quill-wrapper {
    border-color: #434c5e !important; /* darkblack-400 */
}

.dark .custom-quill-wrapper .ql-toolbar.ql-snow {
    border-bottom: 1px solid #434c5e !important; /* darkblack-400 */
    background-color: #2a313c; /* darkblack-500 */
}

.dark .custom-quill-wrapper .ql-container.ql-snow {
    background-color: #1e242e; /* darkblack-600 */
    color: #ffffff !important;
}

.dark .custom-quill-wrapper .ql-toolbar .ql-stroke {
    stroke: #cbd5e1 !important; /* bgray-300 */
}

.dark .custom-quill-wrapper .ql-toolbar .ql-fill {
    fill: #cbd5e1 !important; /* bgray-300 */
}

.dark .custom-quill-wrapper .ql-toolbar .ql-picker {
    color: #cbd5e1 !important; /* bgray-300 */
}
